.main-text {
    color: rgb(10, 10, 83);
    font: 1.7em sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.pallet-text {
    text-align: center;
    color: rgb(121, 9, 9);
    font: 1.5em sans-serif;
    font-weight: bold;
    margin-top: 15%;
}

.progress {
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.loader-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 100px;
}

.retry-icon {
    font-size: 100px;
    background-color: skyblue;
    border-radius: 50%;
    color: white;
}

.factoryimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.progress-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-top: 2%;
}

.retry-icon {
    font-size: 100px;
    background-color: skyblue;
    border-radius: 50%;
    color: white;
}

.factoryimg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// .progress-loader{
//     display: flex;
//     justify-content: center;
//     position: fixed;
//     left:0px;
//     top:0px;
//     width:100%;
//     height:100%;
//     align-items: center;
//     z-index: 999;
//     // background-color: black;
// }