.headings {
    display: flex;
    justify-content: center;
    font-weight: 600;
}

.cards {
    display: flex;
    align-items: center;
    flex-direction: column;
}

tr>*+* {
    padding-left: 4em;
}

.blink {
    animation: blinker 0.6s linear infinite;
    color: #1c87c9;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.summary {
    display: flex;
    align-items: center;
    justify-content: center;
}

// table,
// th,
// td {
//     border: 1px solid black;

//     padding: 12px;
//     // height: 95%;
// }

table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

th,
td {
    padding: 1em;
    background: #ddd;
    border-bottom: 2px solid white;
}