<div>
    <div>
        <div class="row ">
            <div class="col-4 cards">
                <h2 class="headings mt-2">Product Details</h2>
                <mat-card style="width:100%;height:200px;display: flex;align-items: center;border-radius: 20px;">
                    <mat-card-content>
                        <div style="display: flex;
                        flex-direction: column;
                        line-height: 2;margin-left: 20px;">
                            <span><b>P.O/Batch Number:</b>{{batch}}</span>
                            <span><b>Production Line:</b>{{line}}</span>
                            <span><b>Serial Number:</b>{{serial}}</span>
                            <span><b>Chasis Number:</b>{{chasis}}</span>
                        </div>


                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-4 cards">
                <h2 class="headings mt-2">
                    Actual Model:{{tableData['Actual']['Model']}}-{{tableData['Actual']['Model Name']}}
                </h2>

                <mat-card
                    style="width:100%;height:200px;border-radius: 20px;display: flex;align-items: center;justify-content: center;">
                    <mat-card-content>
                        <div class="row">
                            <div class="col-6 text-center">
                                <img [src]="decalimage['Decal']" width="80%" height="100px">
                                <p align="center" style="margin-top:10px;font-weight:500">
                                    {{tableData['Actual']['Model']}}</p>
                            </div>
                            <div class="col-6 text-center">
                                <img [src]="decalimage['Left']" width="80%" height="100px" class="ml-4">
                                <p align="center" style="margin-top:10px;font-weight:500">{{tableData['Actual']['Model
                                    Name']}}</p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-4 cards">
                <h2 class="headings mt-2">
                    Inspection Result
                </h2>
                <mat-card
                    style="width:100%;height:200px;border-radius: 20px;display: flex;align-items: center;justify-content: center;"
                    [ngStyle]="{'border':(tableData['Master Status']=='Passed')? 'rgb(49, 189, 49) 2px solid' : 'red 2px solid'  }">
                    <mat-card-content>
                        <div style="display: flex;
                        flex-direction: column;
                        align-items: center">
                            <h1 [ngStyle]="{'color':(tableData['Master Status']=='Passed')? 'green' : 'red' }"
                                class="blink">
                                {{tableData['Master Status']}}</h1>



                        </div>

                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <h2 class="mt-4 ml-5" style="font-weight:600;">Inspection Checks</h2>
        <!-- <mat-card style="margin:40px">
            <mat-card-content>
                <div class="row">
                    <div class="ml-5 mt-3">
                        <table style="width:170%;line-height: 2;">
                            <tr style="background-color:rgb(221, 221, 221)">
                                <th>
                                    STICKER TYPE
                                </th>
                                <th>ACTUAL</th>
                                <th>LEFT</th>
                                <th>RIGHT</th>
                                <th>DESIGN MATCH</th>
                                <th>ORIENTATION MATCH</th>
                            </tr>
                            <tr>
                                <td>Series Sticker</td>
                                <td>BHM</td>
                                <td>BHM</td>
                                <td>BHM</td>
                                <td>Matched</td>
                                <td>NA</td>
                            </tr>
                            <tr>
                                <td>Range sticker</td>
                                <td>Mahindra 575 DI</td>
                                <td>Mahindra 575 DI</td>
                                <td>Mahindra 575 DI</td>
                                <td>Matched</td>
                                <td>Matched</td>
                            </tr>
                        </table>
                    </div>
                    <div class="row ml-5 mt-5">
                        <div class="col-6 summary">
                            <div style="width:600px;height:250px;border:2px solid grey">
                                <h2>Summary</h2>
                            </div>

                        </div>
                        <div class="col-3 summary">
                            <div
                                style="width:300px;height:250px;border:2px solid grey;display: flex;align-items: center;justify-content: center;">
                                <img [src]="imageData['Left']" width="200px" height="180px">

                            </div>
                        </div>
                        <div class="col-3 summary">
                            <div
                                style="width:300px;height:250px;border:2px solid grey;display: flex;align-items: center;justify-content: center;margin-left: 40px;">
                                <img [src]="imageData['Right']" width="200px" height="180px">

                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
        </mat-card> -->
        <mat-card>
            <mat-card-content>
                <div class="row">
                    <div class="col-6 text-center">
                        <table style="width:100%;">
                            <tr>
                                <th>STICKER TYPE</th>
                                <th>LEFT</th>
                                <th>RIGHT</th>
                                <!-- <th>STATUS</th> -->
                            </tr>
                            <tr>
                                <td>Series Sticker</td>
                                <td>{{tableData['Left']['Model']}}</td>
                                <td>{{tableData['Right']['Model']}}</td>
                                <!-- <td></td> -->
                            </tr>
                            <tr>
                                <td>Range Sticker</td>
                                <td>{{tableData['Left']['Model Name']}}</td>
                                <td>{{tableData['Right']['Model Name']}}</td>
                                <!-- <td></td> -->
                            </tr>
                            <tr>
                                <td>Direction</td>
                                <td>{{tableData['Left']['Direction']}}</td>
                                <td>{{tableData['Right']['Direction']}}</td>
                                <!-- <td></td> -->
                            </tr>

                            <tr>
                                <td>MKM</td>
                                <td></td>
                                <td></td>
                                <!-- <td></td> -->
                            </tr>
                            <tr>
                                <td>6yr Warrenty</td>
                                <td></td>
                                <td></td>
                                <!-- <td></td> -->
                            </tr>
                        </table>
                    </div>
                    <div class="col-3 text-center">
                        <img [src]="imageData['Left']" width="100%" height="300px">
                        <p align="center" class="mt-2" style="font-weight:600">LEFT</p>
                    </div>
                    <div class="col-3  text-center">
                        <img [src]="imageData['Right']" width="100%" height="300px">
                        <p align="center" class="mt-2" style="font-weight:600">RIGHT</p>

                    </div>
                </div>

            </mat-card-content>
        </mat-card>
        <h2 class="mt-3 ml-5" style="font-weight:600;">Summary</h2>
        <div
            style="width:100%;height:100px;border:2px solid grey;border-radius: 20px;margin-top: 20px;display: flex;align-items: center;justify-content: center;">
            <ul *ngFor="let item of tableData['Status']['Message']">
                <li>{{item}}</li>
            </ul>
        </div>
    </div>
</div>