.overallImg {
    width: 100%;
    border: 3px crimson solid;
}

.img1 {
    width: 80%;
    height: 400px;
    border: 3px crimson solid;
}

.img2 {
    width: 80%;
    height: 400px;

    border: 3px crimson solid;
}

.pallettext {
    font-size: larger;
    margin-top: 20px;
    font-weight: 500;
}

.progress-loader {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    align-items: center;
    z-index: 999;
    background-color: black;
}

.main-text {
    color: rgb(10, 10, 83);
    font: 1.7em sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}