.img1 {
    width: 80%;
    height: 400px;
    border: 3px crimson solid;
}

.pallettext {
    font-size: larger;
    margin-top: 20px;
    font-weight: 500;
}

.main-text {
    color: rgb(10, 10, 83);
    font: 1.7em sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 10px;
}