<div class="row">
    <h1 class="main-text">What to be Sticked?</h1>
</div>
<div class="row mt-3">
    <div class="col-4 text-center">
        <img [src]="loadImages['Decal']" class="img1">
        <p align=center class="pallettext">DECAL</p>
    </div>
    <div class="col-4 text-center">
        <img [src]="loadImages['Left']" class="img1">
        <p align=center class="pallettext">Left</p>
    </div>
    <div class="col-4 text-center">
        <img [src]="loadImages['Right']" class="img1">
        <p align=center class="pallettext">Right</p>
        <div class="mt-5" style="display: flex;justify-content: flex-end;">
            <button mat-raised-button (click)="loadLeftRight()" color="primary" class="inspectBtn mr-5">Next</button>
        </div>
    </div>
</div>