<div>
    <mat-label>Select Date:</mat-label>

    <mat-form-field appearance="outline" class="ml-2">
        <!-- <mat-label>Choose a date</mat-label> -->
        <input matInput [matDatepicker]="picker">
        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-label class="ml-2">Select Shift:</mat-label>

    <mat-form-field appearance="outline" class="ml-2">

        <!-- <mat-select #select multiple>
            <div class="select-all">
                <mat-checkbox [(ngModel)]="allSelected" (change)="toggleAllSelection()">Select All</mat-checkbox>
            </div>
            <mat-option (click)="optionClick()" *ngFor="let shift of shifts" [value]="shift">
                {{shift}}
            </mat-option>
        </mat-select> -->


        <mat-select (selectionChange)="onShiftSelection($event)">
            <mat-option *ngFor="let item of shifts" [value]="item">
                <mat-checkbox>{{item}}</mat-checkbox>
            </mat-option>


        </mat-select>
    </mat-form-field>

    <mat-label class="ml-2">Count:</mat-label>
    <mat-form-field appearance="outline" class="ml-2">
        <input matInput value="4">

    </mat-form-field>
    <!-- <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select #select multiple>
            <div class="select-all">
                <mat-checkbox [(ngModel)]="allSelected" (change)="toggleAllSelection()">Select All</mat-checkbox>
            </div>
            <mat-option (click)="optionClick()" *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
            </mat-option>
        </mat-select>
    </mat-form-field> -->
</div>
<div>
    <div class="row">
        <div class="col-4" align="center">
            <mat-card style="width:100%;height:100%;">
                <mat-card-content>
                    <app-barchart [graphIndex]="1" [data]="data1"></app-barchart>

                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-4" align="left">
            <mat-card style="width:100%;height:100%;">
                <mat-card-content>
                    <app-barchart [graphIndex]="2" [data]="data2"></app-barchart>

                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-4">
            <mat-card style="width:100%;height:100%;">
                <mat-card-content>
                    <app-donut></app-donut>

                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>