table,
th,
td {
    border: 1px solid black;
    padding: 12px;
    // height: 95%;
}

.resultDiv {
    // border: 1px solid black;
    height: 100%;
    background-color: lightblue;
    border: black 2px solid;
    border-radius: 10px
}

.modelDiv {
    background-color: lightblue;
    border: black 2px solid;
    border-radius: 10px;
    height: 100%;
}

.imgcards {
    border: 1px solid black;
    margin: 0 1px;
}

img {
    width: 70%;
    // height: auto;
}

span {
    font-weight: 500;
}

// .borderDiv {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }