<div>
    <div class="row" style="display: flex;
    justify-content: space-around;border: 2px solid black;
    margin-left: 5px;
    margin-right: 5px;padding:10px">

        <span><b>P.O/Batch No:</b>{{batch}}</span>
        <span><b>Production Line:</b>{{line}}</span>
        <span><b>Serial No:</b>{{serial}}</span>
        <span><b>Chasis No:</b>{{chasis}}</span>

    </div>
    <div class="row mt-2">
        <div class="col-4" align="center">
            <div class="resultDiv">
                <h1 class="mt-4">
                    Inspection Result
                </h1>
                <h1 [ngStyle]="{'color':tableData['Master Status']['Status']=='Passed'?'green':'red'}"
                    style="font-weight:550">
                    {{tableData['Master Status']['Status']
                    |
                    uppercase}}</h1>
                <h3>{{tableData['Master Status']['Message']}}</h3>
            </div>
        </div>
        <div class="col-4 " align="center">
            <table style="width:100%" style="border:2px solid black">
                <tr>
                    <th style="text-align:center" colspan="5">Inspection Checks</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Actual</th>
                    <th>Left</th>
                    <th>Right</th>
                    <th>Status</th>
                </tr>

                <tr>
                    <td>Series Sticker</td>
                    <td>{{tableData['Actual']['Model']}}</td>
                    <td>{{tableData['Left']['Model']}}</td>
                    <td>{{tableData['Right']['Model']}}</td>
                    <td>{{tableData['Status']['Model']}}</td>

                </tr>
                <tr>
                    <td>Range Sticker</td>
                    <td>{{tableData['Actual']['Model Name']}}</td>
                    <td>{{tableData['Left']['Model Name']}}</td>
                    <td>{{tableData['Right']['Model Name']}}</td>
                    <td>{{tableData['Status']['Model Name']}}</td>

                </tr>
                <!-- <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr> -->
            </table>
        </div>
        <div class="col-4 " align="center">
            <div class="modelDiv">
                <div>
                    <h1 class="mt-4">Actual Model:{{tableData['Actual']['Model']}}-{{tableData['Actual']['Model Name']}}
                    </h1>
                </div>
                <div class="row">
                    <div class="col-6">
                        <img [src]="decalimage['Decal']" width="200px" height="100px">

                    </div>
                    <div class="col-6">
                        <img [src]="decalimage['Left']" width="200px" height="100px">

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row mt-2 imgcards">
        <div class="col-6">
            <mat-card>
                <mat-card-content align="center">
                    <h2 style="color:rgb(24, 24, 134)">Left</h2>
                    <img [src]="imageData['Left']" width="600px" height="400px">
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-6" style="border-left:1px black solid">
            <mat-card>
                <mat-card-content align="center">
                    <h2 style="color:rgb(24, 24, 134)">Right</h2>

                    <img [src]="imageData['Right']" width="600px" height="400px">
                </mat-card-content>
            </mat-card>
        </div>


    </div>
    <!-- <div style="display: flex;
    justify-content: flex-end;">
        <button mat-raised-button color="primary" class="mt-3" (click)="loadAnalytics()">Upload Data</button>

    </div> -->
</div>