.reportFrameView {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%
}

.reportView {
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 56.25%;
}