<!-- <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div id="reportContainer" class="col-xs-12"></div>
        </div>
    </div>
</section> -->

<div class="reportView">
    <iframe class="reportFrameView" [src]="reportURL | safeUrl"></iframe>
</div>