<div>
    <!-- <mat-label>Select Serial No.:</mat-label>

    <mat-form-field appearance="outline" class="ml-2">
        <mat-select (selectionChange)="onModelSelection($event)">
            <mat-option *ngFor="let item of models" [value]="item.model">
                {{item.model}}
            </mat-option>
        </mat-select>
    </mat-form-field> -->


    <div class="serialtext" align="center">
        <mat-label>Enter Serial No.:</mat-label>
        <mat-form-field appearance="outline" class="ml-2">
            <input [(ngModel)]="serialNo" type="number" matInput required>
        </mat-form-field>
    </div>
    <div align="center" class="ml-5">
        <button mat-raised-button (click)="dataloading()" color="primary" class="inspectBtn mr-4">Next</button>

    </div>



    <!-- <mat-card class="img-card" *ngIf="isCardDisplay">
        <mat-card-content align="center">
            <div *ngFor="let val of models">
                <div *ngIf="modelval == val.model">
                    <img [src]="val.img" alt="image" (click)="loadLeftRight()">

                </div>
            </div>
        </mat-card-content>
    </mat-card> -->
</div>