<mat-dialog-content>
    <p>
        Stickers Pasted?
    </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">Yes</button>
    <button mat-raised-button mat-dialog-close tabindex="-1">No</button>
</mat-dialog-actions>